
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-image: url(background.jpg);
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.flat-section {
    text-align: center;
}

.flat-section h2 {
    margin-bottom: 10px;
}

.flat-section a {
    display: block;
    padding: 10px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.flat-section a:hover {
    background-color: greenyellow;
}


